<div class="new-container">
  <form action="/records" method="POST">
    <div class="form-group row mb-3">
      <label class="col-4 col-form-label">* 必填欄位</label>
      <label class="col-8 col-form-label text-center">請輸入你的支出</label>
    </div>

    <div class="form-group row mb-3">
      <label for="new-name" class="col-4 col-form-label">名稱*:</label>
      <div class="col-8">
        <input type="text" class="form-control" name="name" id="new-name" placeholder="請輸入支出名稱">
      </div>
    </div>

    <div class="form-group row mb-3">
      <label for="new-date" class="col-4 col-form-label">日期*:</label>
      <div class="col-8">
        <input type="date" class="form-control" name="date" id="new-date" placeholder="請輸入支出日期" value="{{ today }}">
      </div>
    </div>

    <div class="form-group row mb-3">
      <label for="new-category" class="col-4 col-form-label">類別*:</label>
      <div class="col-8">
        <select class="form-control" name="categoryId" id="new-category">
          <option selected disabled> Select </option>
          {{#each categorys}}
            <option value="{{this.id}}"> {{this.name}} </option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="form-group row mb-3">
      <label for="new-amount" class="col-4 col-form-label">金額*:</label>
      <div class="col-8">
        <input type="number" class="form-control" name="amount" id="new-amount" placeholder="請輸入支出金額">
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn create-record">新增支出</button>
    </div>
  </form>
</div>